.carouselContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	padding: 0 2.5em;
	margin-bottom: 1.5em;
}

.carouselSlide {
	display: flex;
	gap: 1em;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	-ms-overflow-style: none;
	transition: transform 0.5s ease-in-out;
}

.carouselSlide::-webkit-scrollbar {
	display: none;
}

.carouselItem {
	flex: 0 0 auto;
	scroll-snap-align: start;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
}

.imageLabel {
	font-size: 1.25rem;
	padding-bottom: 0.5em;
}

.carouselItem img {
	width: 100%;
	height: auto;
	max-height: 80vh;
	object-fit: contain;
}

.arrowButton {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
	border-radius: 10px;
	padding: 0.5em;
	padding-top: 0.75em;
	z-index: 10;
}

.arrowButton img {
	width: 34px;
	height: 34px;
}

.arrowButton:first-of-type {
	left: 0;
}

.arrowButton:last-of-type {
	right: 0;
}

@media (min-width: 768px) {
	.carouselItem {
		flex: 1 1 48%;
		max-width: 48%;
	}

	.imageLabel {
		font-size: 1.5rem;
	}
	.arrowButton:hover,
	.arrowButton:active {
		background: var(--dark-grey);
	}
}

@media (min-width: 1024px) {
	.carouselItem {
		flex: 1 1 32%;
		max-width: 32%;
	}

	.imageLabel {
		font-size: 1.75rem;
	}

	.arrowButton:active {
		background: var(--grey);
	}
}
