.title {
	font-size: 70px;
	text-align: center;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
}

.headerText {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	justify-content: space-between;
}

.headerTopText {
	font-weight: bold;
	font-size: 30px;
}

.scorathImage {
	padding: 1em;
	width: 80vw;
	height: auto;
}

.paragraphBlock {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.paragraphTitle {
	padding-top: 0.5em;
}

.paragraphText {
	font-size: 20px;
}

.image {
	width: 80vw;
	height: auto;
}

.imageBlock {
	padding: 1em;
}

.imagesScorath {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	gap: 1em;
}

.scorath {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	gap: 1em;
}

.software {
	margin-top: 2em;
	margin-bottom: 1em;
}

/* Tablet*/
@media (min-width: 768px) {
	.header {
		flex-direction: row;
	}

	.scorathImage {
		padding: 1em;
		width: 40vw;
		height: auto;
	}

	.imagesScorath {
		flex-direction: row;
	}

	.image {
		width: 20vw;
		height: auto;
	}

	.imageWide {
		width: 80vw;
		height: auto;
	}

	.imageSquare {
		width: 35vw;
		height: auto;
	}
}

/* Desktop*/
@media (min-width: 1024px) {
	.scorathImage {
		width: 20vw;
		height: auto;
		margin-left: 5em;
	}

	.imageWide {
		width: 60vw;
		height: auto;
	}
}
