.title {
	font-size: 60px;
	text-align: center;
	line-height: 1em;
	margin-bottom: 0.1em;
	margin-top: 0.5em;
}

.header {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-bottom: 1em;
}

.headerText {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.headerTopText {
	font-weight: bold;
	font-size: 30px;
}

.headerRight {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
	padding: 1em;
	width: 80vw;
	height: auto;
}

.h2 {
	font-size: 2em;
	margin-bottom: 0;
}

.paragraphBlock:empty,
.paragraphTitle:empty,
.paragraphText:empty {
	display: none;
}

.paragraphBlock {
	padding-bottom: 0.5em;
}

.paragraphTitle,
.headerH2 {
	font-size: 1.5em;
}

.paragraphText {
	font-size: 1.25em;
	padding-bottom: 0.75em;
}

.image,
.persona {
	width: 80vw;
	height: auto;
}

.imageBlock {
	padding: 1em;
}

.imagesDisplay,
.imagesDisplayCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	gap: 1em;
}

.software {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 3em;
}

.orderedList {
	margin-left: 1.75em;
}

.orderedList li::marker {
	font-size: 1.25em;
	font-weight: bold;
}

.rightArrow {
	transform: rotate(90deg);
}

/* Tablet*/
@media (min-width: 768px) {
	.title {
		font-size: 70px;
		line-height: 1.5em;
		margin-bottom: 0em;
		margin-top: 0em;
	}
	.h2 {
		font-size: 2.5em;
	}

	.paragraphTitle,
	.headerH2 {
		font-size: 2em;
	}

	.paragraphText,
	.orderedList li::marker {
		font-size: 1.5em;
	}

	.header,
	.imagesDisplay {
		flex-direction: row;
	}

	.headerRight {
		padding: 1em;
		width: 40vw;
		height: auto;
	}

	.image {
		width: 20vw;
		height: auto;
	}

	.persona {
		width: 35vw;
		height: auto;
	}

	.imageWide {
		width: 80vw;
		height: auto;
	}

	.imageSquare {
		width: 35vw;
		height: auto;
	}

	.software {
		font-size: 1.5em;
		margin-bottom: 1em;
	}

	.rightArrow {
		transform: rotate(0deg);
	}
}

/* Desktop*/
@media (min-width: 1024px) {
	.headerText {
		justify-content: space-between;
	}

	.headerRight {
		width: 20vw;
		height: auto;
		margin-left: 4em;
	}

	.h2 {
		font-size: 3em;
	}

	.paragraphText {
		font-size: 1.75em;
	}

	.imageWide {
		width: 60vw;
		height: auto;
	}
}
