.wheelContainer {
	text-align: center;
	margin: 20px;
}

.wheelWrapper {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 20px auto;
}

.wheel {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	transition: transform 4s ease-out;
	border: 4px solid var(--dark-grey);
}
