/*Wheel*/
.wheelContainer {
	text-align: center;
	margin: 20px;
}

.wheel {
	width: 15em;
	height: 15em;
	border-radius: 100%;
	border: 4px solid var(--foreground-color);
}

.wheelPointer {
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	width: 2em;
	height: 2em;
	background: var(--background-color);
}

.wheelOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.wheelContent {
	background-color: var(--dark-grey);
	padding: 20px;
	border-radius: 10px;
	position: relative;
	width: 90%;
	max-width: 600px;
}

/*Project Details*/
.projectDetails {
	margin-top: 15px;
	padding: 10px;
	background: var(--dark-grey);
	border-radius: 5px;
}

.projectImage {
	width: 50%;
	border-radius: 5px;
}

/*Spin button*/
.spinButton {
	background-color: var(--blue);
	color: var(--white);
	border: none;
	border-radius: 5px;
	padding: 0.75em 1.25em;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease;
	margin: 0em;
	margin-bottom: 1em;
}

.spinButton:hover {
	background-color: var(--light-blue);
	text-decoration: underline;
}

.spinButton:active {
	background-color: var(--dark-blue);
}

/*Close button*/
.closebtn {
	position: absolute;
	cursor: pointer;
	right: -2.5em;
	top: 2.5em;
	background-color: var(--dark-grey);
	border: none;
	transition: opacity 0.5s ease, right 0.5s ease;
}

.closebtn {
	opacity: 1;
	right: 2.5em;
}

.icon {
	width: 4em;
	height: 4em;
	color: var(--foreground-color);
	cursor: pointer;
	padding: 1em;
}

.icon:hover {
	background-color: var(--dark-grey);
	border-radius: 1em;
}

.icon:active {
	background-color: var(--grey);
	color: var(--background-color);
}

/* Tablet and Desktop*/
@media (min-width: 768px) {
	.wheel {
		width: 20em;
		height: 20em;
	}
}
