:root {
	--black: #000000;
	--white: #ffffff;
	--blue: #273582;
	--red: #9f2125;
	--grey: #d9d9d9;
	--dark-grey: #303030;
	--darker-grey: #151515;
}

html {
	overflow-x: hidden;
}

html,
body {
	max-width: 100vw;
	margin: 0.5em 1em 1em 1em;
	scrollbar-color: var(--black) var(--blue);
}

body {
	color: var(--white);
	background: var(--black);
	font-family: PromptRegular, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: "PromptRegular";
	src: url("/assets/fonts/Prompt-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/*Header*/
header,
header ul,
footer,
.footer-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header ul,
footer ul {
	list-style-type: none;
}

/*Footer*/
footer {
	flex-wrap: wrap;
	margin-top: 2%;
}

footer h2 {
	font-weight: 100;
	font-size: large;
}

.footer-image-logo {
	width: 75px;
	height: 75px;
}

.footer-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-icons {
	justify-content: center;
	align-items: center;
}

.footer-icons a {
	padding: 0.25em 0.25em 0.05em 0.25em;
}

footer ul {
	margin-top: 0.5em;
}

footer a {
	padding: 0.75em;
}

footer li {
	line-height: 2em;
	padding: 0.25em;
}

.footer-image,
.footer-icons {
	flex: 1 0 50%;
}

.footer-links {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
}

.footer-links a:active,
.footer-icons a:active {
	background-color: var(--dark-grey);
	border-radius: 1em;
}

/* Tablet and Desktop*/
@media (min-width: 768px) {
	html,
	body {
		margin: 1em 2em 0.5em 2em;
	}

	/*footer*/
	footer {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	footer h2 {
		font-weight: 100;
		font-size: x-large;
	}

	.footer-image-logo {
		width: 125px;
		height: 125px;
	}

	.footer-image,
	.footer-icons {
		flex: 0 0 0%;
	}

	.footer-links {
		display: flex;
		flex-direction: column;
		flex-basis: 0%;
		justify-content: space-between;
	}

	.footer-li {
		text-align: center;
	}

	.footer-icons a:hover,
	.footer-links a:hover {
		background-color: var(--dark-grey);
		border-radius: 1em;
	}

	.footer-icons a:active,
	.footer-links a:active {
		background-color: var(--grey);
		color: var(--black);
	}
}

@media (min-width: 1024px) {
	html,
	body {
		margin: 1em 4em 0.5em 4em;
	}
}
